<a href="https://colab.research.google.com/github/stranger9977/Sleeper-Dashboard/blob/main/draft_dashboard1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1107]:
pip install sleeper-api-wrapper

Requirement already satisfied: sleeper-api-wrapper in /usr/local/lib/python3.7/dist-packages (1.0.7)
Requirement already satisfied: requests==2.22.0 in /usr/local/lib/python3.7/dist-packages (from sleeper-api-wrapper) (2.22.0)
Requirement already satisfied: pytest==4.6.2 in /usr/local/lib/python3.7/dist-packages (from sleeper-api-wrapper) (4.6.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from pytest==4.6.2->sleeper-api-wrapper) (0.2.5)
Requirement already satisfied: importlib-metadata>=0.12 in /usr/local/lib/python3.7/dist-packages (from pytest==4.6.2->sleeper-api-wrapper) (4.11.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from pytest==4.6.2->sleeper-api-wrapper) (1.15.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.7/dist-packages (from pytest==4.6.2->sleeper-api-wrapper) (0.13.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pytest==4.6.2->sleeper-api-wrapper) (21.3)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest==4.6.2->sleeper-api-wrapper) (1.11.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest==4.6.2->sleeper-api-wrapper) (1.4.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest==4.6.2->sleeper-api-wrapper) (21.4.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest==4.6.2->sleeper-api-wrapper) (8.12.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests==2.22.0->sleeper-api-wrapper) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests==2.22.0->sleeper-api-wrapper) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests==2.22.0->sleeper-api-wrapper) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests==2.22.0->sleeper-api-wrapper) (1.24.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12->pytest==4.6.2->sleeper-api-wrapper) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12->pytest==4.6.2->sleeper-api-wrapper) (4.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pytest==4.6.2->sleeper-api-wrapper) (3.0.8)

In [1108]:
from sleeper_wrapper import League
import pandas as pd

In [1109]:
league = League(824128043063820288)

In [1110]:
rosters = league.get_rosters()
users = league.get_users()

In [1111]:
import requests
response = requests.get("https://api.sleeper.app/v1/draft/824128043810394112/picks")
print(response)

<Response [200]>

In [1112]:
data = response.json()

In [1113]:
print(type(data))

<class 'list'>

In [1114]:
picks_df_raw = pd.DataFrame(data)
print(picks_df_raw)

    round  roster_id player_id           picked_by  pick_no  \
0       1          9      4984  825104073664598016        1
1       1          1      4046  475005167641554944        2
2       1          8      6797  824484703347257344        3
3       1         12      6813  825167551171547136        4
4       1         11      6770  825146108933181440        5
5       1          4      4881  329669863805038592        6
6       1          5      5849  300459283005329408        7
7       1          7      7564  824394947359772672        8
8       1          6      6794  735989316022583296        9
9       1          2      7553  468958591886290944       10
10      1         10      7528  825113801413206016       11
11      1          3      1466  448148889178992640       12
12      2          3      3294  448148889178992640       13
13      2         10      4039  825113801413206016       14
14      2         12      6786  825167551171547136       15
15      2          6      6790  735989316022583296       16
16      2          5      5012  300459283005329408       17
17      2          4      4034  329669863805038592       18
18      2          7      7588  824394947359772672       19
19      2         11      5872  825146108933181440       20
20      2          2      4017  468958591886290944       21

                                             metadata is_keeper  draft_slot  \
0   {'years_exp': '4', 'team': 'BUF', 'status': 'A...      None           1
1   {'years_exp': '5', 'team': 'KC', 'status': 'Ac...      None           2
2   {'years_exp': '2', 'team': 'LAC', 'status': 'A...      None           3
3   {'years_exp': '2', 'team': 'IND', 'status': 'A...      None           4
4   {'years_exp': '2', 'team': 'CIN', 'status': 'A...      None           5
5   {'years_exp': '4', 'team': 'BAL', 'status': 'A...      None           6
6   {'years_exp': '3', 'team': 'ARI', 'status': 'A...      None           7
7   {'years_exp': '1', 'team': 'CIN', 'status': 'A...      None           8
8   {'years_exp': '2', 'team': 'MIN', 'status': 'A...      None           9
9   {'years_exp': '1', 'team': 'ATL', 'status': 'A...      None          10
10  {'years_exp': '1', 'team': 'PIT', 'status': 'A...      None          11
11  {'years_exp': '9', 'team': 'KC', 'status': 'Ac...      None          12
12  {'years_exp': '6', 'team': 'DAL', 'status': 'A...      None          12
13  {'years_exp': '5', 'team': 'LAR', 'status': 'A...      None          11
14  {'years_exp': '2', 'team': 'DAL', 'status': 'A...      None          10
15  {'years_exp': '2', 'team': 'DET', 'status': 'A...      None           9
16  {'years_exp': '4', 'team': 'BAL', 'status': 'A...      None           8
17  {'years_exp': '5', 'team': 'CAR', 'status': 'A...      None           7
18  {'years_exp': '1', 'team': 'DEN', 'status': 'A...      None           6
19  {'years_exp': '3', 'team': 'SF', 'status': 'Ac...      None           5
20  {'years_exp': '5', 'team': 'CLE', 'status': 'A...      None           4

              draft_id
0   824128043810394112
1   824128043810394112
2   824128043810394112
3   824128043810394112
4   824128043810394112
5   824128043810394112
6   824128043810394112
7   824128043810394112
8   824128043810394112
9   824128043810394112
10  824128043810394112
11  824128043810394112
12  824128043810394112
13  824128043810394112
14  824128043810394112
15  824128043810394112
16  824128043810394112
17  824128043810394112
18  824128043810394112
19  824128043810394112
20  824128043810394112

In [1115]:
picks_df_raw.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   round       21 non-null     int64
 1   roster_id   21 non-null     int64
 2   player_id   21 non-null     object
 3   picked_by   21 non-null     object
 4   pick_no     21 non-null     int64
 5   metadata    21 non-null     object
 6   is_keeper   0 non-null      object
 7   draft_slot  21 non-null     int64
 8   draft_id    21 non-null     object
dtypes: int64(4), object(5)
memory usage: 1.6+ KB

In [1116]:
picks_df = picks_df_raw[['player_id', 'picked_by', 'round', 'draft_slot', 'pick_no']]

In [1117]:
picks_df['draft_slot']=picks_df.draft_slot.map("{:02}".format)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1118]:
picks_df['Pick'] = picks_df['round'].astype(str) + "." + picks_df['draft_slot'].astype(str)
picks_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   player_id           picked_by  round draft_slot  pick_no  Pick
0       4984  825104073664598016      1         01        1  1.01
1       4046  475005167641554944      1         02        2  1.02
2       6797  824484703347257344      1         03        3  1.03
3       6813  825167551171547136      1         04        4  1.04
4       6770  825146108933181440      1         05        5  1.05
5       4881  329669863805038592      1         06        6  1.06
6       5849  300459283005329408      1         07        7  1.07
7       7564  824394947359772672      1         08        8  1.08
8       6794  735989316022583296      1         09        9  1.09
9       7553  468958591886290944      1         10       10  1.10
10      7528  825113801413206016      1         11       11  1.11
11      1466  448148889178992640      1         12       12  1.12
12      3294  448148889178992640      2         12       13  2.12
13      4039  825113801413206016      2         11       14  2.11
14      6786  825167551171547136      2         10       15  2.10
15      6790  735989316022583296      2         09       16  2.09
16      5012  300459283005329408      2         08       17  2.08
17      4034  329669863805038592      2         07       18  2.07
18      7588  824394947359772672      2         06       19  2.06
19      5872  825146108933181440      2         05       20  2.05
20      4017  468958591886290944      2         04       21  2.04

In [1119]:
users_df = pd.DataFrame(users)
users_df = users_df[['user_id', 'display_name']]

In [1120]:
from sleeper_wrapper import Players

In [1121]:
# players = Players()
# players = players.get_all_players()

In [1122]:
players_df = pd.DataFrame(players)
players_df = players_df.transpose()

In [1123]:
players_df.head()

,news_updated,gsis_id,height,injury_start_date,years_exp,birth_state,stats_id,birth_date,search_rank,search_last_name,...,weight,last_name,rotowire_id,first_name,metadata,full_name,depth_chart_order,active,team,sport
2103,None,None,"6'5""",None,1,None,None,1991-04-22,9999999,booth,...,285,Booth,9866,Cody,None,Cody Booth,None,False,None,nfl
6250,None,None,73,None,0,None,None,None,9999999,bryant,...,330,Bryant,None,Eurndraus,None,Eurndraus Bryant,None,False,None,nfl
4116,1560221750273,00-0033922,79,None,5,None,None,1993-12-10,9999999,garcia,...,302,Garcia,11794,Antonio,None,Antonio Garcia,None,False,None,nfl
8465,1651342520523,None,77,None,0,None,None,2000-07-19,9999999,burford,...,295,Burford,16062,Spencer,None,Spencer Burford,None,True,SF,nfl
6177,1643570432730,00-0035656,72,None,3,None,None,1996-08-09,9999999,saunders,...,324,Saunders,13746,Khalen,None,Khalen Saunders,3,True,KC,nfl

In [1124]:
players_df.columns

Index(['news_updated', 'gsis_id', 'height', 'injury_start_date', 'years_exp',
       'birth_state', 'stats_id', 'birth_date', 'search_rank',
       'search_last_name', 'college', 'high_school', 'status', 'swish_id',
       'birth_country', 'espn_id', 'injury_status', 'position', 'yahoo_id',
       'fantasy_data_id', 'age', 'rotoworld_id', 'number', 'search_first_name',
       'player_id', 'search_full_name', 'depth_chart_position', 'birth_city',
       'sportradar_id', 'injury_notes', 'practice_participation',
       'pandascore_id', 'hashtag', 'fantasy_positions', 'injury_body_part',
       'practice_description', 'weight', 'last_name', 'rotowire_id',
       'first_name', 'metadata', 'full_name', 'depth_chart_order', 'active',
       'team', 'sport'],
      dtype='object')

In [1125]:
users_picks = picks_df.merge(users_df, left_on = 'picked_by', right_on ='user_id', how="left")
users_picks

,player_id,picked_by,round,draft_slot,pick_no,Pick,user_id,display_name
0,4984,825104073664598016,1,01,1,1.01,825104073664598016,GKrebs
1,4046,475005167641554944,1,02,2,1.02,475005167641554944,Lupeeeeeeee
2,6797,824484703347257344,1,03,3,1.03,824484703347257344,notders
3,6813,825167551171547136,1,04,4,1.04,825167551171547136,mattkendall1
4,6770,825146108933181440,1,05,5,1.05,825146108933181440,zhyman
5,4881,329669863805038592,1,06,6,1.06,329669863805038592,DD00GZ
6,5849,300459283005329408,1,07,7,1.07,300459283005329408,CharmCity20
7,7564,824394947359772672,1,08,8,1.08,824394947359772672,chrisapplegate
8,6794,735989316022583296,1,09,9,1.09,735989316022583296,bryansquared
9,7553,468958591886290944,1,10,10,1.10,468958591886290944,brochillington
10,7528,825113801413206016,1,11,11,1.11,825113801413206016,ChessNerd420
11,1466,448148889178992640,1,12,12,1.12,448148889178992640,ljwestwood
12,3294,448148889178992640,2,12,13,2.12,448148889178992640,ljwestwood
13,4039,825113801413206016,2,11,14,2.11,825113801413206016,ChessNerd420
14,6786,825167551171547136,2,10,15,2.10,825167551171547136,mattkendall1
15,6790,735989316022583296,2,09,16,2.09,735989316022583296,bryansquared
16,5012,300459283005329408,2,08,17,2.08,300459283005329408,CharmCity20
17,4034,329669863805038592,2,07,18,2.07,329669863805038592,DD00GZ
18,7588,824394947359772672,2,06,19,2.06,824394947359772672,chrisapplegate
19,5872,825146108933181440,2,05,20,2.05,825146108933181440,zhyman
20,4017,468958591886290944,2,04,21,2.04,468958591886290944,brochillington

In [1126]:
draft_results = users_picks.merge(players_df, left_on = 'player_id', right_index =True, how='left')

In [1127]:
draft_results.columns

Index(['player_id_x', 'picked_by', 'round', 'draft_slot', 'pick_no', 'Pick',
       'user_id', 'display_name', 'news_updated', 'gsis_id', 'height',
       'injury_start_date', 'years_exp', 'birth_state', 'stats_id',
       'birth_date', 'search_rank', 'search_last_name', 'college',
       'high_school', 'status', 'swish_id', 'birth_country', 'espn_id',
       'injury_status', 'position', 'yahoo_id', 'fantasy_data_id', 'age',
       'rotoworld_id', 'number', 'search_first_name', 'player_id_y',
       'search_full_name', 'depth_chart_position', 'birth_city',
       'sportradar_id', 'injury_notes', 'practice_participation',
       'pandascore_id', 'hashtag', 'fantasy_positions', 'injury_body_part',
       'practice_description', 'weight', 'last_name', 'rotowire_id',
       'first_name', 'metadata', 'full_name', 'depth_chart_order', 'active',
       'team', 'sport'],
      dtype='object')

In [1128]:
draft_results_df = draft_results[['player_id_x','display_name', 'full_name','Pick','pick_no']]
draft_results_df

   player_id_x    display_name            full_name  Pick  pick_no
0         4984          GKrebs           Josh Allen  1.01        1
1         4046     Lupeeeeeeee      Patrick Mahomes  1.02        2
2         6797         notders       Justin Herbert  1.03        3
3         6813    mattkendall1      Jonathan Taylor  1.04        4
4         6770          zhyman           Joe Burrow  1.05        5
5         4881          DD00GZ        Lamar Jackson  1.06        6
6         5849     CharmCity20         Kyler Murray  1.07        7
7         7564  chrisapplegate        Ja'Marr Chase  1.08        8
8         6794    bryansquared     Justin Jefferson  1.09        9
9         7553  brochillington           Kyle Pitts  1.10       10
10        7528    ChessNerd420         Najee Harris  1.11       11
11        1466      ljwestwood         Travis Kelce  1.12       12
12        3294      ljwestwood         Dak Prescott  2.12       13
13        4039    ChessNerd420          Cooper Kupp  2.11       14
14        6786    mattkendall1          CeeDee Lamb  2.10       15
15        6790    bryansquared        D'Andre Swift  2.09       16
16        5012     CharmCity20         Mark Andrews  2.08       17
17        4034          DD00GZ  Christian McCaffrey  2.07       18
18        7588  chrisapplegate     Javonte Williams  2.06       19
19        5872          zhyman         Deebo Samuel  2.05       20
20        4017  brochillington       Deshaun Watson  2.04       21

In [1129]:
#import data from KTC, ADP, ETR, and DP

df = pd.read_csv('https://raw.githubusercontent.com/dynastyprocess/data/master/files/values-players.csv')
#ids to merge player values with sleeper ids
id_df = pd.read_csv('https://raw.githubusercontent.com/dynastyprocess/data/master/files/db_playerids.csv')


# pick_values_df = pd.read_csv('https://raw.githubusercontent.com/dynastyprocess/data/master/files/values-picks.csv')


id_df = id_df[['fantasypros_id','sleeper_id']]
values_df = pd.merge(df, id_df, how= 'left', left_on=['fp_id'], right_on=['fantasypros_id'])

DyPro_df = values_df.loc[values_df['pos'].isin(['QB', 'RB', 'WR', 'TE'])]

ktc_df = pd.read_csv('https://raw.githubusercontent.com/Adeiko/AdeTrades/master/KtcValues.csv')
DyPro_df

,player,pos,team,age,draft_year,ecr_1qb,ecr_2qb,ecr_pos,value_1qb,value_2qb,scrape_date,fp_id,fantasypros_id,sleeper_id
0,Jonathan Taylor,RB,IND,23.3,2020.0,1.4,3.7,1.0,10160,9626,2022-05-06,19217,19217.0,6813.0
1,Ja'Marr Chase,WR,CIN,22.2,2021.0,2.9,6.5,1.4,9808,9013,2022-05-06,19788,19788.0,7564.0
2,Justin Jefferson,WR,MIN,22.9,2020.0,3.5,7.2,1.6,9671,8866,2022-05-06,19236,19236.0,6794.0
3,Najee Harris,RB,PIT,24.2,2021.0,4.3,9.2,2.6,9491,8459,2022-05-06,19302,19302.0,7528.0
4,Javonte Williams,RB,DEN,22.0,2021.0,7.3,12.9,4.5,8845,7754,2022-05-06,22739,22739.0,7588.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,J.J. Arcega-Whiteside,WR,PHI,NaN,NaN,371.2,370.7,182.7,2,2,2022-05-06,18235,18235.0,5863.0
535,Devine Ozigbo,RB,FA,25.6,2019.0,371.3,369.6,151.3,2,2,2022-05-06,18630,18630.0,6068.0
536,Joe Flacco,QB,NYJ,NaN,NaN,374.2,362.2,66.7,2,2,2022-05-06,9300,9300.0,19.0
537,Jake Fromm,QB,NYG,NaN,NaN,375.0,363.0,67.5,2,2,2022-05-06,19243,19243.0,6822.0
538,Chad Henne,QB,KC,NaN,NaN,376.0,364.0,68.5,2,2,2022-05-06,9101,9101.0,89.0

In [1130]:
ktc_df

     Player_ID  Sleeper_ID      Player_Name  Value
0          365      4984.0       Josh Allen   9992
1          272      4046.0  Patrick Mahomes   9976
2          599      6797.0   Justin Herbert   9738
3         1004      7564.0    Ja'Marr Chase   8871
4          634      6813.0  Jonathan Taylor   8620
..         ...         ...              ...    ...
592       1041      7586.0     Dazz Newsome      0
593       1061      7597.0     Kenny Yeboah      0
594       1080      7716.0       John Bates      0
595       1081      7812.0      Simi Fehoko      0
596       1114      7789.0       Jalen Camp      0

[597 rows x 4 columns]

In [1131]:
draft_value_df = ktc_df.merge(DyPro_df, left_on=['Sleeper_ID'], right_on=['sleeper_id'], how='left')

In [1132]:
draft_value_df = draft_value_df.dropna(subset=['Sleeper_ID'])

In [1133]:
draft_value_df['KTC Rank'] = draft_value_df['Value'].rank(ascending=False)
draft_value_df.sort_values(by='Value', ascending=False).head(100)

,Player_ID,Sleeper_ID,Player_Name,Value,player,pos,team,age,draft_year,ecr_1qb,ecr_2qb,ecr_pos,value_1qb,value_2qb,scrape_date,fp_id,fantasypros_id,sleeper_id,KTC Rank
0,365,4984.0,Josh Allen,9992,Josh Allen,QB,BUF,26.0,2018.0,25.3,1.6,1.0,5794.0,10113.0,2022-05-06,17298.0,17298.0,4984.0,1.0
1,272,4046.0,Patrick Mahomes,9976,Patrick Mahomes II,QB,KC,26.6,2017.0,35.2,2.5,2.0,4591.0,9901.0,2022-05-06,16413.0,16413.0,4046.0,2.0
2,599,6797.0,Justin Herbert,9738,Justin Herbert,QB,LAC,24.2,2020.0,42.8,4.9,3.1,3840.0,9358.0,2022-05-06,18635.0,18635.0,6797.0,3.0
3,1004,7564.0,Ja'Marr Chase,8871,Ja'Marr Chase,WR,CIN,22.2,2021.0,2.9,6.5,1.4,9808.0,9013.0,2022-05-06,19788.0,19788.0,7564.0,4.0
4,634,6813.0,Jonathan Taylor,8620,Jonathan Taylor,RB,IND,23.3,2020.0,1.4,3.7,1.0,10160.0,9626.0,2022-05-06,19217.0,19217.0,6813.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,268,4137.0,James Conner,3586,James Conner,RB,ARI,27.0,2017.0,77.1,90.9,26.5,1715.0,1240.0,2022-05-06,16447.0,16447.0,4137.0,96.0
460,533,6943.0,Gabriel Davis,3576,Gabriel Davis,WR,BUF,23.1,2020.0,97.6,110.3,43.5,1059.0,786.0,2022-05-06,19398.0,19398.0,6943.0,97.0
461,382,5022.0,Dallas Goedert,3514,Dallas Goedert,TE,PHI,27.3,2018.0,79.3,92.8,7.1,1629.0,1186.0,2022-05-06,17270.0,17270.0,5022.0,98.0
462,307,2197.0,Brandin Cooks,3508,Brandin Cooks,WR,HOU,28.6,2014.0,94.0,107.9,41.5,1153.0,832.0,2022-05-06,12122.0,12122.0,2197.0,99.0
463,1029,7585.0,Davis Mills,3490,Davis Mills,QB,HOU,23.5,2021.0,192.7,108.8,24.3,113.0,814.0,2022-05-06,22799.0,22799.0,7585.0,100.0

In [1134]:

draft_value_df['DyPro Rank'] = draft_value_df['value_2qb'].rank(ascending=False)
draft_value_df.sort_values(by='value_2qb', ascending=False).head(100)

,Player_ID,Sleeper_ID,Player_Name,Value,player,pos,team,age,draft_year,ecr_1qb,ecr_2qb,ecr_pos,value_1qb,value_2qb,scrape_date,fp_id,fantasypros_id,sleeper_id,KTC Rank,DyPro Rank
0,365,4984.0,Josh Allen,9992,Josh Allen,QB,BUF,26.0,2018.0,25.3,1.6,1.0,5794.0,10113.0,2022-05-06,17298.0,17298.0,4984.0,1.0,1.0
1,272,4046.0,Patrick Mahomes,9976,Patrick Mahomes II,QB,KC,26.6,2017.0,35.2,2.5,2.0,4591.0,9901.0,2022-05-06,16413.0,16413.0,4046.0,2.0,2.0
4,634,6813.0,Jonathan Taylor,8620,Jonathan Taylor,RB,IND,23.3,2020.0,1.4,3.7,1.0,10160.0,9626.0,2022-05-06,19217.0,19217.0,6813.0,5.0,3.0
2,599,6797.0,Justin Herbert,9738,Justin Herbert,QB,LAC,24.2,2020.0,42.8,4.9,3.1,3840.0,9358.0,2022-05-06,18635.0,18635.0,6797.0,3.0,4.0
3,1004,7564.0,Ja'Marr Chase,8871,Ja'Marr Chase,WR,CIN,22.2,2021.0,2.9,6.5,1.4,9808.0,9013.0,2022-05-06,19788.0,19788.0,7564.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,276,4040.0,JuJu Smith-Schuster,3744,JuJu Smith-Schuster,WR,KC,25.5,2017.0,91.4,105.1,40.8,1226.0,888.0,2022-05-06,16427.0,16427.0,4040.0,92.0,96.0
504,183,1049.0,Ryan Tannehill,3212,Ryan Tannehill,QB,TEN,33.8,2012.0,182.3,105.6,24.2,145.0,878.0,2022-05-06,11174.0,11174.0,1049.0,115.0,97.0
497,633,6820.0,Clyde Edwards-Helaire,3277,Clyde Edwards-Helaire,RB,KC,23.1,2020.0,91.0,105.7,30.0,1237.0,876.0,2022-05-06,19325.0,19325.0,6820.0,108.0,98.0
430,537,6886.0,Chase Claypool,3645,Chase Claypool,WR,PIT,23.8,2020.0,92.3,105.8,41.6,1200.0,874.0,2022-05-06,18627.0,18627.0,6886.0,93.0,99.0
558,386,5890.0,Damien Harris,3133,Damien Harris,RB,NE,25.2,2019.0,93.4,107.1,31.1,1169.0,847.0,2022-05-06,18230.0,18230.0,5890.0,117.0,100.0

In [1135]:
draft_value_df = draft_value_df[['Sleeper_ID','Player_Name','age','pos','team','KTC Rank','DyPro Rank']]
draft_value_df

      Sleeper_ID      Player_Name   age  pos team  KTC Rank  DyPro Rank
0         4984.0       Josh Allen  26.0   QB  BUF       1.0         1.0
1         4046.0  Patrick Mahomes  26.6   QB   KC       2.0         2.0
2         6797.0   Justin Herbert  24.2   QB  LAC       3.0         4.0
3         7564.0    Ja'Marr Chase  22.2   WR  CIN       4.0         5.0
4         6813.0  Jonathan Taylor  23.3   RB  IND       5.0         3.0
...          ...              ...   ...  ...  ...       ...         ...
1842      7586.0     Dazz Newsome   NaN   WR  CHI     523.0       367.0
1843      7597.0     Kenny Yeboah   NaN   TE  NYJ     523.0       420.0
1844      7716.0       John Bates   NaN   TE  WAS     523.0       326.5
1845      7812.0      Simi Fehoko   NaN   WR  DAL     523.0       337.0
1846      7789.0       Jalen Camp   NaN  NaN  NaN     523.0         NaN

[547 rows x 7 columns]

In [1136]:
draft_value_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 547 entries, 0 to 1846
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sleeper_ID   547 non-null    float64
 1   Player_Name  547 non-null    object
 2   age          406 non-null    float64
 3   pos          458 non-null    object
 4   team         458 non-null    object
 5   KTC Rank     547 non-null    float64
 6   DyPro Rank   458 non-null    float64
dtypes: float64(4), object(3)
memory usage: 34.2+ KB

In [1137]:
adp_df = pd.read_csv('/content/2022 tartup ADP - Sheet1.csv')
adp_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Round       184 non-null    float64
 1   ADP         184 non-null    float64
 2   Player      184 non-null    object
 3   Unnamed: 3  184 non-null    object
 4   Unnamed: 4  184 non-null    object
 5   Unnamed: 5  183 non-null    object
 6   Unnamed: 6  184 non-null    object
dtypes: float64(2), object(5)
memory usage: 10.2+ KB

In [1138]:
adp_df = adp_df[['Round','ADP','Player']]

In [1139]:
draft_value_df = draft_value_df.merge(adp_df, left_on=['Player_Name'], right_on=['Player'], how='left')
draft_value_df.head()

,Sleeper_ID,Player_Name,age,pos,team,KTC Rank,DyPro Rank,Round,ADP,Player
0,4984.0,Josh Allen,26.0,QB,BUF,1.0,1.0,1.01,1.0,Josh Allen
1,4046.0,Patrick Mahomes,26.6,QB,KC,2.0,2.0,1.03,2.7,Patrick Mahomes
2,6797.0,Justin Herbert,24.2,QB,LAC,3.0,4.0,1.03,2.8,Justin Herbert
3,7564.0,Ja'Marr Chase,22.2,WR,CIN,4.0,5.0,1.07,7.2,Ja'Marr Chase
4,6813.0,Jonathan Taylor,23.3,RB,IND,5.0,3.0,1.05,5.2,Jonathan Taylor

In [1140]:
draft_value_df.head(100)

,Sleeper_ID,Player_Name,age,pos,team,KTC Rank,DyPro Rank,Round,ADP,Player
0,4984.0,Josh Allen,26.0,QB,BUF,1.0,1.0,1.01,1.0,Josh Allen
1,4046.0,Patrick Mahomes,26.6,QB,KC,2.0,2.0,1.03,2.7,Patrick Mahomes
2,6797.0,Justin Herbert,24.2,QB,LAC,3.0,4.0,1.03,2.8,Justin Herbert
3,7564.0,Ja'Marr Chase,22.2,WR,CIN,4.0,5.0,1.07,7.2,Ja'Marr Chase
4,6813.0,Jonathan Taylor,23.3,RB,IND,5.0,3.0,1.05,5.2,Jonathan Taylor
...,...,...,...,...,...,...,...,...,...,...
95,4137.0,James Conner,27.0,RB,ARI,96.0,85.0,7.11,82.7,James Conner
96,6943.0,Gabriel Davis,23.1,WR,BUF,97.0,108.0,9.12,107.9,Gabriel Davis
97,5022.0,Dallas Goedert,27.3,TE,PHI,98.0,89.0,8.06,90.4,Dallas Goedert
98,2197.0,Brandin Cooks,28.6,WR,HOU,99.0,103.0,10.06,113.6,Brandin Cooks
99,7585.0,Davis Mills,23.5,QB,HOU,100.0,105.0,8.11,94.7,Davis Mills

In [1141]:
etr_df = pd.read_csv('/content/ETR Dynasty Rankings.csv')
etr_df

,1QB Rank,SF/TE Prem,Player,Team,Position,Age,1QB Pos Rk,SF/TE Pr Pos Rk,Status,Notes
0,66,1,Patrick Mahomes,KC,QB,26.7,QB01,QB01,Veteran,Best QB in football. Things will be different ...
1,67,2,Josh Allen,BUF,QB,26.0,QB02,QB02,Veteran,One of the most pass-happy offenses in the lea...
2,68,3,Lamar Jackson,BAL,QB,25.4,QB03,QB03,Veteran,"Struggled with injuries in 2021, but still has..."
3,69,4,Kyler Murray,ARI,QB,24.8,QB04,QB04,Veteran,Arizona has done nothing but add weapons since...
4,1,5,Ja'Marr Chase,CIN,WR,22.2,WR01,WR01,Veteran,"Already one of the best WRs in the league, and..."
...,...,...,...,...,...,...,...,...,...,...
306,294,307,Isaiah McKenzie,BUF,WR,27.1,WR127,WR127,Veteran,NaN
307,299,308,Dan Arnold,JAC,TE,27.2,TE48,TE48,Veteran,NaN
308,300,309,Mo Alie-Cox,IND,TE,28.7,TE49,TE49,Veteran,NaN
309,301,310,Foster Moreau,LV,TE,25.0,TE50,TE50,Veteran,NaN
310,311,311,Skylar Thompson,MIA,QB,24.9,QB47,QB47,Rookie,NaN

In [1142]:
draft_value_df = draft_value_df.merge(etr_df, left_on=['Player_Name'], right_on=['Player'], how='left')
draft_value_df['ETR Rank'] = draft_value_df['SF/TE Prem']
draft_value_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 547 entries, 0 to 546
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sleeper_ID       547 non-null    float64
 1   Player_Name      547 non-null    object
 2   age              406 non-null    float64
 3   pos              458 non-null    object
 4   team             458 non-null    object
 5   KTC Rank         547 non-null    float64
 6   DyPro Rank       458 non-null    float64
 7   Round            179 non-null    float64
 8   ADP              179 non-null    float64
 9   Player_x         179 non-null    object
 10  1QB Rank         277 non-null    float64
 11  SF/TE Prem       277 non-null    float64
 12  Player_y         277 non-null    object
 13  Team             277 non-null    object
 14  Position         277 non-null    object
 15  Age              277 non-null    float64
 16  1QB Pos Rk       277 non-null    object
 17  SF/TE Pr Pos Rk  277 non-null    object
 18  Status           277 non-null    object
 19  Notes            269 non-null    object
 20  ETR Rank         277 non-null    float64
dtypes: float64(10), object(11)
memory usage: 94.0+ KB

In [1143]:
ranks = ['KTC Rank', 'ETR Rank', 'ADP', 'DyPro Rank']
draft_value_df['Avg rank'] = draft_value_df[ranks].mean(axis=1)
draft_value_df['StD Rank']= draft_value_df[ranks].std(axis=1)

In [1144]:
draft_value_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 547 entries, 0 to 546
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sleeper_ID       547 non-null    float64
 1   Player_Name      547 non-null    object
 2   age              406 non-null    float64
 3   pos              458 non-null    object
 4   team             458 non-null    object
 5   KTC Rank         547 non-null    float64
 6   DyPro Rank       458 non-null    float64
 7   Round            179 non-null    float64
 8   ADP              179 non-null    float64
 9   Player_x         179 non-null    object
 10  1QB Rank         277 non-null    float64
 11  SF/TE Prem       277 non-null    float64
 12  Player_y         277 non-null    object
 13  Team             277 non-null    object
 14  Position         277 non-null    object
 15  Age              277 non-null    float64
 16  1QB Pos Rk       277 non-null    object
 17  SF/TE Pr Pos Rk  277 non-null    object
 18  Status           277 non-null    object
 19  Notes            269 non-null    object
 20  ETR Rank         277 non-null    float64
 21  Avg rank         547 non-null    float64
 22  StD Rank         462 non-null    float64
dtypes: float64(12), object(11)
memory usage: 102.6+ KB

In [1145]:
draft_results_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_id_x   21 non-null     object
 1   display_name  21 non-null     object
 2   full_name     21 non-null     object
 3   Pick          21 non-null     object
 4   pick_no       21 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1008.0+ bytes

In [1146]:
draft_results_df

   player_id_x    display_name            full_name  Pick  pick_no
0         4984          GKrebs           Josh Allen  1.01        1
1         4046     Lupeeeeeeee      Patrick Mahomes  1.02        2
2         6797         notders       Justin Herbert  1.03        3
3         6813    mattkendall1      Jonathan Taylor  1.04        4
4         6770          zhyman           Joe Burrow  1.05        5
5         4881          DD00GZ        Lamar Jackson  1.06        6
6         5849     CharmCity20         Kyler Murray  1.07        7
7         7564  chrisapplegate        Ja'Marr Chase  1.08        8
8         6794    bryansquared     Justin Jefferson  1.09        9
9         7553  brochillington           Kyle Pitts  1.10       10
10        7528    ChessNerd420         Najee Harris  1.11       11
11        1466      ljwestwood         Travis Kelce  1.12       12
12        3294      ljwestwood         Dak Prescott  2.12       13
13        4039    ChessNerd420          Cooper Kupp  2.11       14
14        6786    mattkendall1          CeeDee Lamb  2.10       15
15        6790    bryansquared        D'Andre Swift  2.09       16
16        5012     CharmCity20         Mark Andrews  2.08       17
17        4034          DD00GZ  Christian McCaffrey  2.07       18
18        7588  chrisapplegate     Javonte Williams  2.06       19
19        5872          zhyman         Deebo Samuel  2.05       20
20        4017  brochillington       Deshaun Watson  2.04       21

In [1147]:
draft_results_df[['player_id_x','pick_no']] = draft_results_df[['player_id_x','pick_no']].astype(float)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [1148]:
draft_value_df = draft_value_df[['Sleeper_ID', 'Player_Name','age','pos','team','ADP','Avg rank','StD Rank','ETR Rank','KTC Rank','DyPro Rank', 'Round','Notes']]
draft_result_value_df = draft_results_df.merge(draft_value_df, left_on='player_id_x', right_on='Sleeper_ID', how='outer')
draft_result_value_df

,player_id_x,display_name,full_name,Pick,pick_no,Sleeper_ID,Player_Name,age,pos,team,ADP,Avg rank,StD Rank,ETR Rank,KTC Rank,DyPro Rank,Round,Notes
0,4984.0,GKrebs,Josh Allen,1.01,1.0,4984.0,Josh Allen,26.0,QB,BUF,1.0,1.250,0.500000,2.0,1.0,1.0,1.01,One of the most pass-happy offenses in the lea...
1,4046.0,Lupeeeeeeee,Patrick Mahomes,1.02,2.0,4046.0,Patrick Mahomes,26.6,QB,KC,2.7,1.925,0.699405,1.0,2.0,2.0,1.03,Best QB in football. Things will be different ...
2,6797.0,notders,Justin Herbert,1.03,3.0,6797.0,Justin Herbert,24.2,QB,LAC,2.8,4.450,2.424184,8.0,3.0,4.0,1.03,Would like to see some better weaponry long-te...
3,6813.0,mattkendall1,Jonathan Taylor,1.04,4.0,6813.0,Jonathan Taylor,23.3,RB,IND,5.2,8.300,7.862993,20.0,5.0,3.0,1.05,The Colts' identity on offense is founded in r...
4,6770.0,zhyman,Joe Burrow,1.05,5.0,6770.0,Joe Burrow,25.4,QB,CIN,5.0,6.750,1.258306,7.0,7.0,8.0,1.05,Exciting young QB surrounded by exceptional we...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,NaN,NaN,NaN,NaN,NaN,7586.0,Dazz Newsome,NaN,WR,CHI,NaN,445.000,110.308658,NaN,523.0,367.0,NaN,NaN
543,NaN,NaN,NaN,NaN,NaN,7597.0,Kenny Yeboah,NaN,TE,NYJ,NaN,471.500,72.831998,NaN,523.0,420.0,NaN,NaN
544,NaN,NaN,NaN,NaN,NaN,7716.0,John Bates,NaN,TE,WAS,NaN,424.750,138.946483,NaN,523.0,326.5,NaN,NaN
545,NaN,NaN,NaN,NaN,NaN,7812.0,Simi Fehoko,NaN,WR,DAL,NaN,430.000,131.521861,NaN,523.0,337.0,NaN,NaN
546,NaN,NaN,NaN,NaN,NaN,7789.0,Jalen Camp,NaN,NaN,NaN,NaN,523.000,NaN,NaN,523.0,NaN,NaN,NaN

In [1149]:
draft_result_value_df = draft_result_value_df.dropna(subset=['Sleeper_ID'])
draft_result_value_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 547 entries, 0 to 546
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_id_x   21 non-null     float64
 1   display_name  21 non-null     object
 2   full_name     21 non-null     object
 3   Pick          21 non-null     object
 4   pick_no       21 non-null     float64
 5   Sleeper_ID    547 non-null    float64
 6   Player_Name   547 non-null    object
 7   age           406 non-null    float64
 8   pos           458 non-null    object
 9   team          458 non-null    object
 10  ADP           179 non-null    float64
 11  Avg rank      547 non-null    float64
 12  StD Rank      462 non-null    float64
 13  ETR Rank      277 non-null    float64
 14  KTC Rank      547 non-null    float64
 15  DyPro Rank    458 non-null    float64
 16  Round         179 non-null    float64
 17  Notes         269 non-null    object
dtypes: float64(11), object(7)
memory usage: 81.2+ KB

In [1150]:
draft_result_value_df['diff']=draft_result_value_df['pick_no'] - draft_result_value_df['ADP']

In [1151]:
final_df = draft_result_value_df.rename(columns={'age_x': 'age', 'display_name': 'drafted_by', 'full_name':'draft_player','pick_no':'actual'})
final_df = final_df[['Player_Name','team','pos','ADP','actual','drafted_by','diff','Avg rank','StD Rank','ETR Rank','KTC Rank','DyPro Rank','Round','Notes']].sort_values(by='Avg rank')
final_df = final_df[:200]

In [1152]:
final_df.head()

,Player_Name,team,pos,ADP,actual,drafted_by,diff,Avg rank,StD Rank,ETR Rank,KTC Rank,DyPro Rank,Round,Notes
0,Josh Allen,BUF,QB,1.0,1.0,GKrebs,0.0,1.250,0.500000,2.0,1.0,1.0,1.01,One of the most pass-happy offenses in the lea...
1,Patrick Mahomes,KC,QB,2.7,2.0,Lupeeeeeeee,-0.7,1.925,0.699405,1.0,2.0,2.0,1.03,Best QB in football. Things will be different ...
2,Justin Herbert,LAC,QB,2.8,3.0,notders,0.2,4.450,2.424184,8.0,3.0,4.0,1.03,Would like to see some better weaponry long-te...
7,Ja'Marr Chase,CIN,WR,7.2,8.0,chrisapplegate,0.8,5.300,1.351542,5.0,4.0,5.0,1.07,"Already one of the best WRs in the league, and..."
8,Justin Jefferson,MIN,WR,8.4,9.0,bryansquared,0.6,6.600,1.200000,6.0,6.0,6.0,1.08,"Dominant through first two NFL seasons, and Mi..."

In [1153]:
final_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 225
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player_Name  200 non-null    object
 1   team         199 non-null    object
 2   pos          199 non-null    object
 3   ADP          176 non-null    float64
 4   actual       21 non-null     float64
 5   drafted_by   21 non-null     object
 6   diff         21 non-null     float64
 7   Avg rank     200 non-null    float64
 8   StD Rank     200 non-null    float64
 9   ETR Rank     186 non-null    float64
 10  KTC Rank     200 non-null    float64
 11  DyPro Rank   199 non-null    float64
 12  Round        176 non-null    float64
 13  Notes        186 non-null    object
dtypes: float64(9), object(5)
memory usage: 23.4+ KB

In [1154]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

from gspread_dataframe import get_as_dataframe, set_with_dataframe

sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/1irRUA3pA79NayfFMydb7x3sMhWeidvD86UfoKjTDXug/edit#gid=0')
worksheet = sh.get_worksheet(0)

set_with_dataframe(worksheet,final_df)